/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #006e79;
  --ifm-color-primary-dark: #00636d;
  --ifm-color-primary-darker: #005e67;
  --ifm-color-primary-darkest: #004d55;
  --ifm-color-primary-light: #007985;
  --ifm-color-primary-lighter: #007e8b;
  --ifm-color-primary-lightest: #008f9d;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #00a5b5;
  --ifm-color-primary-dark: #0094a3;
  --ifm-color-primary-darker: #008c9a;
  --ifm-color-primary-darkest: #007380;
  --ifm-color-primary-light: #00b6c7;
  --ifm-color-primary-lighter: #00bed0;
  --ifm-color-primary-lightest: #1cd4e3;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
